doctype html
html
    head
        title Recherche et Developpement
        meta( charset="UTF-8" )
        meta( name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )

        //- Styles
        link( rel='stylesheet' href='assets/css/styles.css' )

    body
        #container.container
            img( src="assets/images/models/original.png" alt="" )

    //- Scripts
    script( src='assets/js/main.js' )
