html,
body
    width 100%
    height 100%
    margin 0
    padding 0
    position relative
    overflow hidden
   
 .container
 	width 35vh
 	height 70vh
 	position absolute
 	top 50%
 	left 50%
 	transform translate( -50%, -50% )
	
	img,
	canvas
		width 100%
		height 100%
		position absolute